{% extends 'base.html.twig' %}
{#{% form_theme form 'form/bulma_layout.html.twig' %}#}

{% block title %}fundlog: connexion{% endblock %}

{% block body %}

{#    <main class="hero is-fullheight is-default is-bold">#}
    <main class="container is-fluid">
        <div class="columns">

            <section class="column is-7">
                <figure class="image">
                    <img src="{{ asset('build/images/campaign-creators-1086596-unsplash.jpg') }}"
                         alt="Vue d'un tableau de bord sur un ordinateur">
                    <a class="unsplash"
                       href="https://unsplash.com/@campaign_creators?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
                       target="_blank" rel="noopener noreferrer"
                       title="Download free do whatever you want high-resolution photos from Campaign Creators">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                             viewBox="0 0 32 32">
                            <title>unsplash-logo</title>
                            <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
                        </svg>
                        Campaign Creators
                    </a>
                </figure>
                <br>
                {% include 'security/intro.html.twig' %}
                <p>
                    <strong>
                        <a href="{{ path('presentation') }}">En savoir plus...</a>
                    </strong>
                </p>
            </section>

            <section class="column is-4 is-offset-1">
                <header class="container is-fluid">
                    <p><img src="{{ asset('build/images/logo.png') }}" alt="Le logo fundlog"></p>
                </header>
                <form method="post" class="box">
                    <h3 class="title is-3 has-text-grey">Connexion</h3>
                    <p class="subtitle is-5 has-text-grey">Merci de vous connecter pour accéder au site.</p>

                    {% if error %}
                        <article class="message is-warning">
                            <div class="message-header">
                                <p>Erreur de connexion !</p>
                                <button class="delete" aria-label="delete"></button>
                            </div>
                            <div class="message-body">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        </article>
                        <div class="alert alert-danger"></div>
                    {% endif %}

                    <div class="field">
                        <label for="inputEmail" class="label">Email</label>
                        <div class="control has-icons-left">
                            <input type="email" value="{{ last_username }}" name="email"
                                   id="inputEmail" class="input" placeholder="Email" required autofocus>
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label for="inputPassword" class="label">Mot de passe</label>
                        <div class="control has-icons-left">
                            <input type="password" name="password" id="inputPassword" class="input"
                                   placeholder="Password" required>
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">
                        </div>
                    </div>

                    <button class="button is-block is-info is-fullwidth" type="submit">
                        <i class="fa fa-sign-in"></i>
                        Se connecter
                    </button>
                </form>

                <a class="button is-block is-primary is-fullwidth" href="{{ path('app_registration') }}">
                    <i class="fa fa-user-plus"></i>
                    Créer un compte
                </a>

                {#TODO: Manage forgotten password#}
                <br>
                <p class="has-text-grey has-text-centered">
                    <a href="{{ path('app_registration') }}">Mot de passe oublié</a>
                </p>
            </section>
        </div>

        <footer class="container">
            <div class="tabs is-centered">
                <ul>
                    <li><a href="{{ path('information') }}#legal">Informations légales</a></li>
                    <li><a href="{{ path('information') }}#cgu">Conditions générales d'utilisation</a></li>
                    <li><a href="{{ path('information') }}#conf">Politique de confidentialité</a></li>
                </ul>
            </div>
        </footer>

    </main>

{% endblock %}

