{% extends 'base.html.twig' %}
{% form_theme form 'form/bulma_layout.html.twig' %}

{% block title %}fundlog: changer le mot de passe{% endblock %}
{% block body %}

    {# if already connected #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    <main class="container is-fluid">
        <section class="section">
            <article class="media">
                <div class="media-left">
                    <figure class="media-left">
                        <p class="image is-96x96">
                            <img src="{{ asset('build/images/picto-compte-fundlog.png') }}" alt="Profil utilisateur">
                        </p>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p class="is-marginless"><strong>{{ user.fullname }}</strong> - {{ user.email }}</p>
                        <p class="is-marginless"><small>Compte créé le {{ user.createdAt|date('d/m/Y (H:i)') }}</small></p>
                        <div class="navbar-item">
                            <div class="buttons">
                                {% for portfolio in portfolios %}
                                    <a class="button is-primary is-outlined" href="{{ path('portfolio_show', {'id': portfolio.id}) }}">
                                        {{ portfolio.name }}
                                    </a>
                                    {% if portfolio.lastPerf < -0.05 %}
                                        <i class="ringbell fa fa-bell"></i>&nbsp;
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media-right">
                    <a class="button is-link" href="{{ path('portfolio_index') }}">
                        Liste des portefeuilles
                    </a>
                </div>
            </article>
        </section>
        <section class="section columns">
            <section class="column is-4">
                <article class="box has-background-grey-lighter is-centered">
                    <h3 class="title is-3">Mon mot de passe</h3>
                    <p class="subtitle is-5 is-marginless">Pour changer mon mot de passe...</p>
                    {{ form_start(form) }}
                        {{ form_row(form.plainPassword.first, {
                            'attr': {
                                'help_text': 'Minimum 8 caractères, majuscules, minuscules, chiffres et caractères spéciaux',
                            },
                            'label': 'Saisir le nouveau mot de passe',
                            'bulma_icon': {
                                'icon': 'lock',
                                'position': 'left'
                            }
                            })
                        }}
                        {{ form_row(form.plainPassword.second) }}
                        <button class="button is-block is-primary is-fullwidth" type="submit">
                            <i class="fa fa-refresh"></i> &nbsp;
                            Confirmer le changement de mot de passe
                        </button>
                    {{ form_end(form) }}
                </article>
                <figure class="image">
                    <img src="{{ asset('build/images/kyle-hanson-1351122-unsplash small.jpg') }}"
                         alt="Chien regardant un ordinateur">
                </figure>
            </section>
            <section class="column is-8">
                <article class="box has-background-grey-lighter is-centered">
                    <h3 class="title is-3">Mes alertes</h3>
                    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Portefeuille</th>
                            <th>Périodicité</th>
                            <th>Objet</th>
                            <th>Seuil</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for alert in alerts %}
                            <tr>
                                <td><i class="fa fa-bell"></i>&nbsp;{{ alert.id }}</td>
                                <td>{{ alert.portfolio.name }}</td>
                                <td>{{ alert.periodicity }}</td>
                                <td>{{ alert.object }}</td>
                                <td class="has-text-right">{{ alert.threshold|number_format(1, ',', ' ') }} %</td>
                                <td class="has-text-right">
                                    <p class="is-size-5 is-marginless">
                                        <a href="{{ path('alert_edit', {'id': alert.id}) }}">
                                            <i class="fa fa-pencil-square has-text-primary"></i> &nbsp;
                                        </a>
                                        <a href="{{ path('alert_delete', {'id': alert.id}) }}">
                                            <i class="fa fa-trash has-text-danger"></i> &nbsp;
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">Aucune alerte enregistrée</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <p class="has-text-right">
                        <a href="{{ path('alert_new') }}" class="button is-info">
                            <i class="fa fa-plus-square"></i>&nbsp;
                            Ajouter une alerte
                        </a>
                    </p>
                </article>
            </section>
        </section>

        <footer class="container">
            <div class="tabs is-centered">
                <ul>
                    <li><a href="{{ path('information') }}#legal">Informations légales</a></li>
                    <li><a href="{{ path('information') }}#cgu">Conditions générales d'utilisation</a></li>
                    <li><a href="{{ path('information') }}#conf">Politique de confidentialité</a></li>
                </ul>
            </div>
        </footer>
    </main>

    {% endif %}

{% endblock %}
