{% extends 'base.html.twig' %}
{% form_theme form 'form/bulma_layout.html.twig' %}

{% block title %}fundlog: inscription{% endblock %}

{% block body %}
    <main class="container is-fluid">
        <div class="tile is-ancestor">
            <section class="tile is-7 is-vertical is-parent">
                <article class="tile is-child has-background-grey-lighter is-centered">
                    <p><img src="{{ asset('build/images/logo.png') }}" alt="Le logo fundlog"></p>
                    <figure class="image">
                        <img src="{{ asset('build/images/campaign-creators-1086596-unsplash.jpg') }}"
                             alt="Vue d'un tableau de bord sur un ordinateur">
                        <a class="unsplash"
                           href="https://unsplash.com/@campaign_creators?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
                           target="_blank" rel="noopener noreferrer"
                           title="Download free do whatever you want high-resolution photos from Campaign Creators">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                                 viewBox="0 0 32 32">
                                <title>unsplash-logo</title>
                                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
                            </svg>
                            Campaign Creators
                        </a>
                    </figure>
                </article>
                <article class="tile is-child box has-background-grey-lighter">
                    {% include 'security/intro.html.twig' %}
                    <p>
                        <strong>
                            <a href="{{ path('presentation') }}">En savoir plus...</a>
                        </strong>
                    </p>
                </article>
            </section>
            <section class="tile is-parent is-vertical">
                <div class="tile is-child box has-background-grey-lighter">
                    <h3 class="title is-3">Créer un compte</h3>
                    <p class="subtitle is-5">
                        Merci de saisir toutes les informations pour créer un compte et accéder au site.
                    </p>
                    {{ form_start(form) }}
                        {{ form_row(form.firstname) }}
                        {{ form_row(form.lastname) }}
                        {{ form_row(form.email, {
                            'attr': {
                                'help_text': 'Votre email vous servira à vous connecter',
                            },
                            'label': 'Email de contact',
                            'bulma_icon': {
                                'icon': 'envelope',
                                'position': 'left'
                            }
                            })
                        }}
                        {{ form_row(form.plainPassword.first, {
                            'attr': {
                                'help_text': 'Minimum 8 caractères, majuscules, minuscules, chiffres et caractères spéciaux',
                            },
                            'label': 'Choisir un mot de passe',
                            'bulma_icon': {
                                'icon': 'lock',
                                'position': 'left'
                            }
                            })
                        }}
                        {{ form_row(form.plainPassword.second) }}
                        {{ form_rest(form) }}
                        <button class="button is-block is-info is-fullwidth" type="submit">
                            <i class="fa fa-user-plus"></i> &nbsp;
                            Créer un compte
                        </button>
                    {{ form_end(form) }}
                </div>
                <div class="tile is-child box has-background-grey-lighter">
                    <h3 class="title is-3">Vous avez déjà un compte</h3>
                    <p class="subtitle is-5">
                        Vous pouvez accéder au site en vous connectant.
                    </p>
                    <a class="button is-block is-primary is-fullwidth" href="{{ path('app_login') }}">
                        <i class="fa fa-sign-in"></i> &nbsp;
                        Se connecter
                    </a>
                </div>
            </section>
        </div>
    </main>

    <footer class="container">
        <div class="tabs is-centered">
            <ul>
                <li><a href="{{ path('information') }}#legal">Informations légales</a></li>
                <li><a href="{{ path('information') }}#cgu">Conditions générales d'utilisation</a></li>
                <li><a href="{{ path('information') }}#conf">Politique de confidentialité</a></li>
            </ul>
        </div>
    </footer>

{% endblock %}