

{% extends 'base.html.twig' %}
{% form_theme form 'form/bulma_layout.html.twig' %}

{% block title %}fundlog: inscription{% endblock %}

{% block body %}
    <main class="container is-fluid">
        <div class="tile is-ancestor">
            <section class="tile is-8 is-vertical is-parent">
                <article class="tile is-child has-background-grey-light is-centered">
                    <p><img src="{{ asset('build/images/logo.png') }}" alt="Le logo fundlog"></p>
                </article>
                <article class="tile is-child box has-background-grey-light">
                    {% include 'security/intro.html.twig' %}
                    <p>
                        <strong>
                            <a href="{{ path('presentation') }}">En savoir plus...</a>
                        </strong>
                    </p>
                </article>
            </section>
            <section class="tile is-parent is-vertical">
                <div class="tile is-child box">
                    <h3 class="title has-text-grey">Créer un compte</h3>
                    <p class="subtitle has-text-grey">
                        Merci de saisir toutes les informations pour créer un compte et accéder au site.
                    </p>
                    {{ form_start(form) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}
                    {{ form_rest(form) }}
                    <button class="button is-block is-info is-fullwidth" type="submit">
                        <i class="fa fa-user-plus"></i> &nbsp;
                        Créer un compte
                    </button>
                    {{ form_end(form) }}
                </div>
                <div class="tile is-child box has-background-grey-light">
                    <h3 class="title has-text-grey">Vous avez déjà un compte</h3>
                    <p class="subtitle has-text-grey">
                        Vous pouvez accéder au site en vous connectant.
                    </p>
                    <a class="button is-block is-primary is-fullwidth" href="{{ path('app_login') }}">
                        <i class="fa fa-sign-in"></i> &nbsp;
                        Se connecter
                    </a>
                </div>
            </section>
        </div>
    </main>

{% endblock %}