{{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="buttons">

        <button class="button is-block is-primary">
            {{ button_label|default('Enregistrer') }}
        </button>

        <a class="button is-block is-warning" href="{{ path('portfolio_index') }}">
            Abandonner
        </a>

    </div>

{{ form_end(form) }}
