{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        {% set waiting = '<i class="fa fa-spinner fa-pulse fa-fw"></i>' %}

        <section class="dashboard section">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-4">
                    <div class="tile is-child box">
                        <p class="title is-3 is-marginless is-spaced">{{ portfolio.name }}</p>
                        <p class="subtitle is-5 is-marginless">{{ portfolio.account }}</p>
                        <p>Gestionnaire : {{ portfolio.middleman.fullname }}</p>
                        <p>{{ portfolio.middleman.email }}</p>
                    </div>
                </div>
                <div class="tile is-parent is-4">
                    <div class="tile is-child box">
                        <p class="title has-text-centered is-2 is-marginless">Confirmation d'arbitrage</p>
                        <article class="notification is-small ">
                            <button class="delete"></button>
                            Saisir la confirmation d'arbitrage reçue
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <p><strong>Demande d'arbitrage #{{ portfolio_io.id }}</strong></p>
                        <div class="tags has-addons is-marginless">
                            <span class="tag">Création</span>
                            <span class="tag is-info">
                                {{ portfolio_io.creationDate|date('d/m/Y (H:i)') }}
                            </span>
                        </div>
                        <div class="tags has-addons is-marginless">
                            <span class="tag">Validation</span>
                            <span class="tag is-info">
                                {{ (portfolio_io.validDate ? portfolio_io.validDate|date('d/m/Y (H:i)') : waiting)|raw }}
                            </span>
                        </div>
                        <div class="tags has-addons is-marginless">
                            <span class="tag">Envoi</span>
                            <span class="tag is-info">
                                {{ (portfolio_io.sendDate ? portfolio_io.sendDate|date('d/m/Y (H:i)') : waiting)|raw }}
                            </span>
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="action section">
            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                    <p class="level-item">
                        <a class="button is-primary" href="{{ path('portfolio_show', {'id': portfolio.id}) }}">
                            <i class="fa fa-arrow-left"></i> &nbsp;
                            Retour
                        </a>
                    </p>
                    {# Transaction can still be edited -- if necessary !#}
                    <p class="level-item">
                        <a class="button is-info" href="{{ path('portfolio_edit', {'id': portfolio.id}) }}">
                            <i class="fa fa-pencil-square-o"></i> &nbsp;
                            Modifier avant confirmation
                        </a>
                    </p>
                    {# Transaction can always be deleted -- if still pending !#}
                    <p class="level-item">
                        {# TODO: change link to delete Io not portfolio!#}
                        {{ include('portfolio/_delete_form.html.twig') }}
                    </p>
                </div>

                <!-- Right side -->
                <div class="level-right">
                    {# Confirmation link -- only if ransaction  send #}
                    <p class="level-item">
                        <a class="button is-warning" href="{{ path('portfolio_confirm', {'id': portfolio.id}) }}">
                            <i class="fa fa-calculator"></i> &nbsp;
                            Confirmer arbitrage
                        </a>
                    </p>
                </div>
            </nav>
        </section>

        <section class="data section">

            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fond</th>
                        <th>ISIN</th>
                        <th>Valeur actuelle</th>
                        <th>Arbitrage demandé</th>
                        <th>Saisie Qté</th>
                        <th>Saisie Valeur liq.</th>
                        <th>Valeur réactualisée</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for portfolio_line in portfolio_lines %}
                    <tr>
                        <td>{{ portfolio_line.id }}</td>
                        <td>{{ portfolio_line.fund.name }}</td>
                        <td>{{ portfolio_line.fund.isin }}</td>
                        <td class="has-text-right">{{ (portfolio_line.qty * portfolio_line.lvalue)|number_format(2, ',', ' ') }} €</td>
                        <td class="has-text-right">{{ portfolio_line.ioValue|number_format(2, ',', ' ') }} €</td>
                        <td class="has-text-right">
                            <input type="text">
                        </td>
                        <td class="has-text-right">
                            
                        </td>
                        <td class="has-text-right">
                            
                        </td>
                        <td>
                            <div class="buttons">
                                <a class="button is-primary modal-trigger" href="#modalform"
                                   data-line="{{ portfolio_line.id }}"
                                   data-target="{{ path('portfolio_line_io_edit', {'id': portfolio_line.id }) }}">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                                {% if portfolio_line.qty == 0.0 %}
                                    {{ include('portfolio_line/_delete_form.html.twig') }}
                                {% else %}
                                    {{ include('portfolio_line/_hide_form.html.twig') }}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {# last line for total amount #}
                {% else %}
                    <tr>
                        <td colspan="9">Aucune ligne à confirmer sur cet arbitrage</td>
                    </tr>
                {% endfor %}
{#                    <tr class="is-selected">#}
{#                        <td></td>#}
{#                        <td>TOTAL INVESTISSEMENT/DESINVESTISSEMENT</td>#}
{#                        <td></td>#}
{#                        <td></td>#}
{#                        <td></td>#}
{#                        <td></td>#}
{#                        <td class="has-text-right">{{ io_total_amount|number_format(2, ',', ' ') }} €</td>#}
{#                        <td></td>#}
{#                    </tr>#}
                </tbody>
            </table>

            <div class="modal" id="modalform">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title"></p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-warning">Annuler</button>
                    </footer>
                </div>
            </div>

        </section>

    {% else %}
        <p>Accès interdit</p>
    {% endif %}

{% endblock %}
