{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}


{% block cdn %}
    {{  parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages: ["corechart", "timeline"], 'language': 'fr'});
        google.charts.setOnLoadCallback(drawLineChart);

        function drawLineChart() {
            let data = new google.visualization.DataTable();
            // Add portfolios as series
            data.addColumn('date', 'Date');
            {% for portfolio in portfolios %}
                data.addColumn('number', '{{ portfolio.name }}');
            {% endfor %}
            data.addRows([
                {% for hist_value in hist_values %}
                    {% set lvdate = hist_value[0]|split('-') %}
                    [
                        new Date( {{ lvdate[0] }}, {{ lvdate[1] }}-1, {{ lvdate[2] }} )
                        {% for i in 1..(hist_value|length-1) %}
                            , {{ hist_value[i] }}
                        {% endfor %}
                    ],
                {% endfor %}
            ]);

            let options = {
                legend: 'none',
                lineWidth: 4,
                series: {
                    0: { color: '#037365' },
                    1: { color: '#BEA42E' },
                    2: { color: '#7B895B' },
                    3: { color: '#7BD4CC' },
                    4: { color: '#F29D37' },
                    5: { color: '#bed3ed' },
                },
                height: 200,
                width: "100%",
            };

            let chart = new google.visualization.LineChart(document.getElementById('chartLine'));

            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawPieChart);

        function drawPieChart() {
            let data = new google.visualization.DataTable();
            data.addColumn('string', 'Période');
            data.addColumn('number', 'Valorisation');
            data.addRows([
                {% for portfolio in portfolios %}
                    [ '{{ portfolio.name }}', {{ portfolio.lastTotalAmount|round }}],
                {% endfor %}
            ]);

            let options = {
                legend: 'none',
                colors: ['#037365', '#BEA42E', '#7BD4CC', '#7B895B', '#F59F6A'],
                height: 200,
                width: "100%",
            };

            let chart = new google.visualization.PieChart(document.getElementById('chartPie'));
            chart.draw(data, options);
        }

        // for responsiveness, redraw the charts when window is resized
        window.addEventListener('resize', () => {
            drawLineChart();
            drawPieChart();
        });

    </script>
{%  endblock %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <section class="dashboard section">
            <div class="columns">
                <div class="column is-3">
                    <div class="box">
                        <p class="title is-3  is-marginless is-spaced">Situation globale</p>
                        <p class="subtitle is-5 is-marginless">{{ app.user.fullname }}</p>
                        <br><br>
                        <div class="level">
                            <div class="level-left has-text-centered">
                                <div>
                                    <p class="heading">PERFORMANCE</p>
                                    <p class="is-size-4 is-bold has-text-right">
                                        <i class="fa fa-arrow-down"></i>&nbsp;
                                        -0,3%
                                    </p>
                                </div>
                            </div>
                            <div class="level-right has-text-centered">
                                <div>
                                    <p class="heading">VALORISATION</p>
                                    <p class="is-size-4 is-bold has-text-right">{{ totalAmount|number_format(2, ',', ' ') }} €</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="box">
                        <div id="chartLine" class="chart"></div>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="box">
                        <div id="chartPie" class="chart"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="action section">
            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                    <p class="level-item">
                        <a class="printer button is-primary">
                            <i class="fa fa-print"></i> &nbsp;
                            Imprimer
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="button is-info" href="{{ path('currency_update') }}">
                            <i class="fa fa-money"></i> &nbsp;
                            MAJ devises
                        </a>
                    </p>
                </div>

                <!-- Right side -->
                <div class="level-right">
                    <p class="level-item">
                        <a class="button is-success" href="{{ path('portfolio_new') }}">
                            <i class="fa fa-plus-square"></i> &nbsp;
                            Nouveau
                        </a>
                    </p>
                </div>
            </nav>
        </section>

        <section class="data section">
            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Numéro</th>
                    <th>Céé le</th>
                    <th>Établissement</th>
                    <th>Assur.</th>
                    <th>Valeur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for portfolio in portfolios %}
                    <tr>
                        <td>{{ portfolio.name }}</td>
                        <td>{{ portfolio.account }}</td>
                        <td>{{ portfolio.createDate ? portfolio.createDate|date('d/m/Y (H:i)') : '' }}</td>
                        <td>{{ portfolio.middleman }}</td>
                        <td>{{ portfolio.lifeinsurance }}</td>
                        <td class="has-text-right">{{ portfolio.lastTotalAmount|number_format(2, ',', ' ') }} €</td>
                        <td class="has-text-right">
                            <p class="is-size-5 is-bold is-marginless">
                                <a href="{{ path('portfolio_show', {'id': portfolio.id}) }}">
                                    {% if portfolio.lastPerf < -0.05 %}
                                            <i class="ringbell fa fa-bell"></i>&nbsp;
                                    {% endif %}
                                    <i class="fa fa-search"></i> &nbsp;
                                    </a>
                            </p>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Aucun portefeuille enregistré</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

    {% else %}
        <p>Accès interdit</p>
    {% endif %}

{% endblock %}
