{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block cdn %}
    {{  parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages: ["corechart", "timeline"], 'language': 'fr'});
        google.charts.setOnLoadCallback(drawLineChart);

        function drawLineChart() {
            let data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Valorisation');
            data.addRows([
                {% for hist_value in hist_values %}
                    [ new Date({{ hist_value.lvdate|date('Y') }}, {{ hist_value.lvdate|date('n') }}-1, {{ hist_value.lvdate|date('d') }}), {{ hist_value.lvalue }} ],
                {% endfor %}
            ]);

            let options = {
                legend: 'none',
                lineWidth: 3,
                series: {
                    0: { color: '#037365' },
                    1: { color: '#BEA42E' },
                    2: { color: '#7B895B' },
                    3: { color: '#7BD4CC' },
                },
                height: 200,
                width: "100%",
            };

            let chart = new google.visualization.LineChart(document.getElementById('chart1'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawPieChart);

        function drawPieChart() {
            let data = new google.visualization.DataTable();
            data.addColumn('string', 'Fonds');
            data.addColumn('number', 'Valorisation');
            data.addRows([
                {% for portfolio_line in portfolio_lines %}
                    [
                        '{{ portfolio_line.fund.name }}',
                        {{ (portfolio_line.qty * (portfolio_line.fund.lastLvalue ?: portfolio_line.lvalue))|round }}
                    ],
                {% endfor %}
            ]);

            let options = {
                legend: 'none',
                colors: ['#037365', '#BEA42E', '#7BD4CC', '#7B895B', '#F59F6A'],
                height: 200,
                width: "100%",
            };

            let chart = new google.visualization.PieChart(document.getElementById('chart2'));
            chart.draw(data, options);
        }
        // for responsiveness, redraw the charts when window is resized
        window.addEventListener('resize', () => {
            drawLineChart();
            drawPieChart();
        });

    </script>
{%  endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <section class="dashboard section">
            <div class="columns">
                <div class="column is-3">
                    <div class="box">
                        <p class="title is-3 is-marginless is-spaced">{{ portfolio.name }}</p>
                        <p class="subtitle is-5 is-marginless">{{ portfolio.account }}</p>
                        <br><br>
                        <div class="level is-mobile">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">TENDANCE</p>
                                    <p class="is-size-4 is-bold has-text-centered">
                                        {% if portfolio.lastPerf > 0 %}
                                            <i class="fa fa-arrow-up"></i>
                                        {% elseif portfolio.lastPerf < 0 %}
                                            <i class="fa fa-arrow-down"></i>
                                        {% else %}
                                            <i class="fa fa-arrow-right"></i>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">PERFORMANCE</p>
                                    <p class="is-size-4 is-bold has-text-right">{{ portfolio.lastPerf }} %</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">VALORISATION</p>
                                    <p class="is-size-4 is-bold has-text-right">{{ portfolio.lastTotalAmount|number_format(2, ',', ' ') }} €</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="box">
                        <div id="chart1" class="chart"></div>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <div id="chart2" class="chart"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="action section">
            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                    <p class="level-item">
                        <a class="button is-primary" href="{{ path('portfolio_index') }}">
                            <i class="fa fa-arrow-left"></i> &nbsp;
                            Retour à la liste
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="button is-info" href="{{ path('portfolio_export', {'id': portfolio.id}) }}">
                            <i class="fa fa-download"></i> &nbsp;
                            Exporter
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="button is-dark" href="{{ path('portfolio_archive', {'id': portfolio.id}) }}">
                            <i class="fa fa-archive"></i> &nbsp;
                            Archiver
                        </a>
                    </p>
                    <p class="level-item">
                        {{ include('portfolio/_delete_form.html.twig') }}
                    </p>
                </div>

                <!-- Right side -->
                <div class="level-right">
                    {% if not portfolio_io %}
                        {# Pas d'arbitrage en cours #}
                        <p class="level-item">
                            <a class="button is-info" href="{{ path('portfolio_edit', {'id': portfolio.id}) }}">
                                <i class="fa fa-pencil-square-o"></i> &nbsp;
                                Nouvel arbitrage
                            </a>
                        </p>
                    {% else %}
                        <p class="level-item">
                            <a class="button is-info" href="{{ path('portfolio_edit', {'id': portfolio.id}) }}">
                                <i class="fa fa-pencil-square-o"></i> &nbsp;
                                Modifier arbitrage
                            </a>
                        </p>
                        <p class="level-item">
                            <a class="button is-warning" href="{{ path('portfolio_confirm', {'id': portfolio.id}) }}">
                                <i class="fa fa-calculator"></i> &nbsp;
                                Confirmer arbitrage
                            </a>
                        </p>
                    {% endif %}
                </div>
            </nav>
        </section>

        <section class="data section">
            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Ligne</th>
                        <th>Fond</th>
                        <th>ISIN</th>
                        <th>Qté</th>
                        <th>Valeur liq.</th>
                        <th>Valeur totale</th>
                    </tr>
                </thead>
                <tbody>
                    {% for portfolio_line in portfolio_lines %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <div class="field is-grouped">
                                    {{ portfolio_line.fund.name }} &nbsp;
                                    <div class="tags">
                                        {% for link in links[portfolio_line.id] %}
                                            {%  if 'UNSET' not in link['url'] %}
                                                <a class="tag is-link" href="{{ link['url'] }}" target="_blank">
                                                    {{ link['source'] }}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td>{{ portfolio_line.fund.isin }}</td>
                            <td class="has-text-right">
                                {{ portfolio_line.qty|number_format(4, ',', ' ') }}
                            </td>
                            <td class="has-text-right">
                                {{ (portfolio_line.fund.lastLvalue ?: portfolio_line.lvalue)|number_format(2, ',', ' ') }} €
                            </td>
                            <td class="has-text-right">
                                {{ (portfolio_line.qty * (portfolio_line.fund.lastLvalue ?: portfolio_line.lvalue))|number_format(2, ',', ' ') }} €
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">Aucune ligne sur ce portefeuille</td>
                        </tr>
                    {% endfor %}
                    {# last line for total amount #}
                    <tr class="is-selected">
                        <td></td>
                        <td>TOTAL</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="has-text-right">{{ portfolio.lastTotalAmount|number_format(2, ',', ' ') }} €</td>
                    </tr>
                </tbody>
            </table>
        </section>

    {% else %}
        <p>Accès interdit</p>
    {% endif %}

    {%  block javascripts %}
        {{  parent() }}
    {% endblock %}
{% endblock %}
