{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <section class="dashboard section">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-3">
                    <div class="tile is-child box">
                        <p class="title is-3 is-marginless is-spaced">{{ portfolio.name }}</p>
                        <p class="subtitle is-5 is-marginless">{{ portfolio.account }}</p>
                        <table class="table is-bordered is-fullwidth">
                            <tbody>
                            <tr>
                                <td class="is-size-5 is-bold has-text-centered">
                                    {% if portfolio.lastPerf > 0 %}
                                        <i class="fa fa-arrow-up fa-2x"></i>
                                    {% elseif portfolio.lastPerf < 0 %}
                                        <i class="fa fa-arrow-down fa-2x"></i>
                                    {% else %}
                                        <i class="fa fa-arrow-right fa-2x"></i>
                                    {% endif %}
                                    &nbsp;
                                    {{ portfolio.lastPerf }}%
                                </td>
                            </tr>
                            <tr>
                                <td class="is-size-4 is-bold has-text-right">{{ portfolio.lastTotalAmount|number_format(2, ',', ' ') }} €</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tile is-parent is-6">
                    <div class="tile is-child box">
                        <p>Ici, un graphique d'évolution</p>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <p>Ici le camembert</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="action section">
            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                    <p class="level-item">
                        <a class="button is-primary" href="{{ path('portfolio_index') }}">
                            <i class="fa fa-arrow-left"></i> &nbsp;
                            Retour à la liste
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="button is-info" href="{{ path('portfolio_export', {'id': portfolio.id}) }}">
                            <i class="fa fa-download"></i> &nbsp;
                            Exporter
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="button is-dark" href="{{ path('portfolio_archive', {'id': portfolio.id}) }}">
                            <i class="fa fa-archive"></i> &nbsp;
                            Archiver
                        </a>
                    </p>
                    <p class="level-item">
                        {{ include('portfolio/_delete_form.html.twig') }}
                    </p>
                </div>

                <!-- Right side -->
                <div class="level-right">
                    {% if not portfolio_io %}
                        {# Pas d'arbitrage en cours #}
                        <p class="level-item">
                            <a class="button is-info" href="{{ path('portfolio_edit', {'id': portfolio.id}) }}">
                                <i class="fa fa-pencil-square-o"></i> &nbsp;
                                Nouvel arbitrage
                            </a>
                        </p>
                    {% else %}
                        <p class="level-item">
                            <a class="button is-info" href="{{ path('portfolio_edit', {'id': portfolio.id}) }}">
                                <i class="fa fa-pencil-square-o"></i> &nbsp;
                                Modifier arbitrage
                            </a>
                        </p>
                        <p class="level-item">
                            <a class="button is-warning" href="{{ path('portfolio_confirm', {'id': portfolio.id}) }}">
                                <i class="fa fa-calculator"></i> &nbsp;
                                Confirmer arbitrage
                            </a>
                        </p>
                    {% endif %}
                </div>
            </nav>
        </section>

        <section class="data section">
            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Ligne</th>
                        <th>Fond</th>
                        <th>ISIN</th>
                        <th>Qté</th>
                        <th>Valeur liq.</th>
                        <th>Valeur totale</th>
                    </tr>
                </thead>
                <tbody>
                    {% for portfolio_line in portfolio_lines %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <div class="field is-grouped">
                                    {{ portfolio_line.fund.name }} &nbsp;
                                    <div class="tags">
                                        {% for link in links[portfolio_line.id] %}
                                            {%  if 'UNSET' not in link['url'] %}
                                                <a class="tag is-link" href="{{ link['url'] }}" target="_blank">
                                                    {{ link['source'] }}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td>{{ portfolio_line.fund.isin }}</td>
                            <td class="has-text-right">
                                {{ portfolio_line.qty|number_format(4, ',', ' ') }}
                            </td>
                            <td class="has-text-right">
                                {{ (portfolio_line.fund.lastLvalue ?: portfolio_line.lvalue)|number_format(2, ',', ' ') }} €
                            </td>
                            <td class="has-text-right">
                                {{ (portfolio_line.qty * (portfolio_line.fund.lastLvalue ?: portfolio_line.lvalue))|number_format(2, ',', ' ') }} €
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">Aucune ligne sur ce portefeuille</td>
                        </tr>
                    {% endfor %}
                    {# last line for total amount #}
                    <tr class="is-selected">
                        <td></td>
                        <td>TOTAL</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="has-text-right">{{ portfolio.lastTotalAmount|number_format(2, ',', ' ') }} €</td>
                    </tr>
                </tbody>
            </table>
        </section>

    {% else %}
        <p>Accès interdit</p>
    {% endif %}

{% endblock %}
