{% extends 'base.html.twig' %}

{% block title %}Alert index{% endblock %}

{% block body %}
    <h1>Alert index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Periodicity</th>
                <th>Object</th>
                <th>Threshold</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alert in alerts %}
            <tr>
                <td>{{ alert.id }}</td>
                <td>{{ alert.periodicity }}</td>
                <td>{{ alert.object }}</td>
                <td>{{ alert.threshold }}</td>
                <td>
                    <a href="{{ path('alert_show', {'id': alert.id}) }}">show</a>
                    <a href="{{ path('alert_edit', {'id': alert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('alert_new') }}">Create new</a>
{% endblock %}
