<h3>Demande d'arbitrage</h3>

<p>
    <i>A l'attention de {{ middleman.title }} {{ middleman.firstname }} {{ middleman.lastname }}</i>
    (<strong>{{ middleman.company }}</strong>)
</p>

<p>Bonjour,</p>

<p>Merci de prendre en compte la demande d'arbitrage qui suit dans les meilleurs délais :</p>

<p>Portefeuille : <strong>{{ portfolio.name }} - {{ portfolio.account }}</strong></p>

<table>
    <thead>
        <tr style="border-bottom: 1px solid #ddd;">
            <td>Fonds</td>
            <td>ISIN</td>
            <td>Montant à arbitrer</td>
        </tr>
    </thead>
    <tbody>
        {% for line in portfolio_lines %}
            <tr style="border-bottom: 1px solid #ddd;">
                <td>{{ line.fund.name }}</td>
                <td>{{ line.fund.isin }}</td>
                <td style="text-align: right;">{{ line.ioValue|number_format(2, ',', ' ') }} €</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>Dans l'attente de votre confirmation,</p>

<p>Avec mes remerciements.</p>
<p><i>{{ user.fullname }}</i></p>

<p>Ce mail est généré par www.fundlog.fr</p>

{# Makes an absolute URL to the /images/logo.png file. For production environment...
<img src="{{ absolute_url(asset('build/images/logo.png')) }}" alt="Logo fundlog">
#}