<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                fundlog
            {% endblock %}
        </title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{{ asset('build/images/favicon.png') }}">

        {% block stylesheet %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block cdn %}
        {% endblock %}

    </head>

    <body>

        {% block header %}
            <header class="container is-fluid">

                <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
                    <!-- Brand logo left part of navbar -->
                    <div class="navbar-brand">
                        <a class="navbar-item" href="https://fundlog.fr">
                            <img src="{{ asset('build/images/favicon.png') }}" height="36" alt="Le logo fundlog">
                        </a>

                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- Menu right part of navbar -->
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link is-arrowless">
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                        &nbsp;
                                    </span>&nbsp;
                                    {% if app.user %}
                                        {{ app.user.fullname }}
                                    {% else %}
                                        Mon Compte
                                    {% endif %}
                                </a>
                                <div class="navbar-dropdown is-right">
                                    {% if app.user %}
                                        <a class="navbar-item" href="{{ path('app_profile') }}">
                                            <i class="fa fa-user-o fa-fw"></i>&nbsp;
                                            Profil
                                        </a>
                                        <a class="navbar-item" href="{{ path('app_logout') }}">
                                            <i class="fa fa-sign-in fa-fw"></i>&nbsp;
                                            Se déconnecter
                                        </a>
                                        {% if is_granted('ROLE_ADMIN') %}
{#                                            Remplacer app_logout par easyadmin dès qu'intallé#}
                                            <a class="navbar-item" href="{{ path('easyadmin') }}" >
                                                <i class="fa fa-cubes fa-fw"></i>&nbsp;
                                                Administration
                                            </a>
                                        {% endif %}
                                    {% else %}
                                       <a class="navbar-item" href="{{ path('app_login') }}">
                                            <i class="fa fa-sign-in fa-fw"></i>&nbsp;
                                            Se connecter
                                        </a>
                                        <a class="navbar-item" href="{{ path('app_registration') }}">
                                            <i class="fa fa-user-plus fa-fw"></i>&nbsp;
                                            Créer un compte
                                        </a>
                                    {% endif %}

                                </div>
                            </div>

                        </div>
                    </div>
                </nav>
                {# read and display all flash messages #}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="notification is-{{ label }}">
                            <button class="delete"></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

            </header>
        {% endblock %}

        <main class="section">
            {% block body %}
            {% endblock %}
        </main>

        {% block footer %}
            <footer class="footer">
                <div class="content has-text-centered">
                    <p><i class="fa fa-copyright"></i> fundlog 2019</p>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>

</html>
