{{ form_start(form) }}
    <div class="columns is-vcentered">
        <div class="column is-three-quarters">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>ISIN</th>
                        <th>Quantité souscrite</th>
                        <th>Valeur souscrite</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form_row(form.fund) }}</td>
                        <td>{{ form_row(form.ioQty) }}</td>
                        <td>{{ form_row(form.ioValue) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column">
            <div class="buttons">
                <button class="button is-primary">
                    <i class="fa fa-plus-square-o"></i> &nbsp;
                    {{ button_label|default('Ajouter cette ligne') }}
                </button>
                <a class="button is-warning" href="{{ path('fund_new') }}">
                    <i class="fa fa-plus-square-o"></i> &nbsp;
                    {{ button_label|default('Ajouter un fonds absent') }}
                </a>
            </div>
        </div>
    </div>
{{ form_end(form) }}

